@model Student
<form asp-controller="Department" asp-action="create" method="post">
	<label for=" namw">NAme </label>
	<input type="name" name="Name" value="Name" /><br />
	<label for="name">Role</label>
	<input type="name" name="Description" value="" /><br />
	<label for="name">Role</label>
	<input type="name" name="Roll" value="" />
	<input type="submit" value="Submit"/>
</form>