<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form action="/" method="post">
        Name:<input type="type" name="name" value="" placeholder="Enter your name" />
        Password:<input type="type" name="name" value="" placeholder="ENter your password" />
       <button><input type="submit" name="name" value="Submit" /></button>   </form>
</div>



